table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  width: 50px;
}

input,
input:hover,
input:active {
  border: 0;
  outline: none;
  outline-offset: 0;
}

input:focus {
  border: 1px solid green;
  outline: none;
  outline-offset: 0;
}
