<div class="login-box" [@simpleFadeAnimation]="'in'">
  <div class="login-logo">
    <h3><img src="assets/logo.png" height="40%" width="40%" alt="Expense App Logo"></h3>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg {{wrong}}">{{message}}</p>
    <input type="text" placeholder="Username" class="form-control" [(ngModel)]="signin.username">
    <input type="password" placeholder="Password" class="form-control" [(ngModel)]="signin.password">
    <input type="submit" value="Sign In" class="btn btn-success" (click)="submit()">
    <span class="space"></span>
    <input type="submit" value="Sign Up" class="btn btn-success" (click)="signup()">
  </div>
</div>