.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  color: #818181;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 10px;
}

.sideMenuItems{
  margin-left:10%;
}

.sideMenuItems:hover{
  color: #f1f1f1;
  cursor: pointer;
}

.sidenav a {
  padding-right: 10px;
  padding-top: 4px; 
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
}

#main {
  transition: margin-left .5s;
}

.top {
  margin-top: 2%;
}

.top2 {
  margin-top: 2.5%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
